src/main/mule/mongodbflows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="storeassetFlow" doc:id="55ef6711-f79e-4f8c-a1ef-32409f73451e" >
		<mongo:insert-documents collectionName="entities" doc:name="Insert documents" doc:id="4e2f82cb-33d4-4ea5-8de4-f74acfe1a1bc" config-ref="MongoDB_Config" >
		</mongo:insert-documents>
		<ee:transform doc:name="Transform Message" doc:id="da204d64-c864-4461-befd-518c812c88fd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="updateasset" doc:id="f3701863-5aa1-4ba8-bc2a-a49bca2cfd6f" >
		<ee:transform doc:name="Transform Message" doc:id="09cec0fd-95d2-498f-aa69-0abbcc0c48f7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

	{
"assetId" : payload.assetId,
"status": "published",
"ObjectKeys" :payload.ObjectKeys
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<mongo:update-documents collectionName="entities" doc:name="Update documents" doc:id="bf72134a-e35e-4f5d-8ec7-d744ffa75533" config-ref="MongoDB_Config" multipleUpdate="true" upsert="true">
			<mongo:query ><![CDATA[#[output application/json
---
{
	"assetId" : payload.assetId,
	}]]]></mongo:query>
		</mongo:update-documents>
		<ee:transform doc:name="Transform Message" doc:id="c226c5c3-0228-40ef-8463-c81a7c7f57a8">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Message" : "your asset is updated"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getasset" doc:id="cadfbe44-2124-4e2a-8ada-b73c3f450c43" >
		<ee:transform doc:name="Transform Message" doc:id="a6101acd-7ae3-4d87-8932-6f52b26da636" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" : "published"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<mongo:find-documents collectionName="entities" fields="assetPayload,ObjectKeys,expirationDate" doc:name="Find documents" doc:id="04b0e5e9-37fc-4f84-bde9-9a05c64d6756" config-ref="MongoDB_Config">
			<mongo:query><![CDATA[#[payload]]]></mongo:query>
		</mongo:find-documents>
		<ee:transform doc:name="Transform Message" doc:id="4b01fd37-3f1a-4bd9-8963-2c2168dbd334" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getobjectkey" doc:id="3a4c530f-d243-4d4a-8860-915f606c9537" >
		<ee:transform doc:name="Transform Message" doc:id="bcb373b5-ef6d-4658-acf8-8571911db6c0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" : "published",
	"ObjectKeys" : "metadata/172345678/baileys_packshot.jpeg.json"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<mongo:find-documents doc:name="Find documents" doc:id="9fa7fc50-5aa9-481d-993d-16c143628540" config-ref="MongoDB_Config" collectionName="entities" fields="ObjectKeys">
			<mongo:query ><![CDATA[#[payload]]]></mongo:query>
		</mongo:find-documents>
		<ee:transform doc:name="Transform Message" doc:id="fb9510cd-94d6-4f7e-be14-99136f7bed7d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="deleteasset" doc:id="2ea61b56-2166-4a3f-a9b0-237d86c9ffa8" >
		<flow-ref doc:name="Flow Reference" doc:id="6534dd1d-65b3-4cd6-a29e-993c1da4fc36" name="getasset"/>
		<ee:transform doc:name="Transform Message" doc:id="c3e107f4-5349-4443-9909-b1dd5101feed" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload filter($.expirationDate == null default "")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="dc119041-ed9d-4fb7-98f6-a4155d9b7fd0" >
			<mongo:remove-documents doc:name="Remove documents" doc:id="2f2e1e24-1eae-42a2-b8f9-de66e0d0e20f" config-ref="MongoDB_Config" collectionName="entities">
			<mongo:query><![CDATA[#[payload]]]></mongo:query>
		</mongo:remove-documents>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="5f19666e-10c5-4626-b33d-2ce2843a7bd3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message":"Your asset collection is deleted"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
